body{
    min-height: 900px;;
}

background{
    position: absolute;
    display: inline-block;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    color: black;
    text-align: center;
    margin-top: 100px;
 }

 .newsletter{
     margin-bottom: 0px;
     margin-top: -20px;
 }

 h1 {
     text-align: center;

 }

 .input{
     text-align: center;
 }

 .imageContainer{
     width: 550px;
     height: 400px;
     top: 20px;
     text-align: center;
     display: inline-flex;
     font-size: 14px;
 }
 .imageHighlightContainer{
    width: 1050px;
    height: 400px;
    top: 20px;
    text-align: center;
    display:inline-block;
 }

 h3{
     text-align: center;
 }

 .container-fluid{
     margin: 3px 3px;
     text-align: center;
 }

 .btn {
     margin: 2px;
     font-size: 12px;
 }

 .image-xx{
     float: left;
 }

 .image-xx:hover{
    transform: scale(1.2);
    -ms-transform: scale(1.2); 
    -webkit-transform: scale(1.2); 
    transform: scale(1.2); 
 }
 .description-x{
     margin: 30px;
 }

 .container{
     display: inline;
     float: left;
 }
 .glass{
     float: right;
 }
 .glass:hover{
    transform: scale(1.5);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
 }

 .highlightimage:hover{
    transform: scale(1.5);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
 }