background{
    position: absolute;
    display: inline-block;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 10px;
    width: 100%;
    color: black;
    text-align: center;
 }

 .newsletter{
     margin-bottom: 0px;
 }

 h2 {
     text-align: center;
 }

 .input{
     text-align: center;
 }

 .imageContainer{
     width: 550px;
     height: 300px;
     top: 200px;
     text-align: center;
     display: inline;
 }

 .filterblock{
     position: absolute;
     top: 200px;
     background-color: lightgoldenrodyellow;
     padding: 100px 30px;
 }

 h3{
     text-align: center;
 }

 .container-fluid{
     margin: 5px 5px;
     text-align: center;
 }

 .btn {
     margin: 2px;
     font-size: 15px;
 }

 /* .image-x{
     float: left;
 }

 .description-x{
     margin: 30px;
 } */

 .container{
     display: inline;
     float: left;
 }
 .glass:hover{
    transform: scale(1.5);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
 }

 .highlightimage:hover{
    transform: scale(1.5);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
 }